{
  "rules": {
    "import/no-extraneous-dependencies": ["off"]
  },
  "globals": {
    "beforeEach": true,
    "before": true,
    "afterEach": true,
    "after": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
